//=========== FONTS ===========// 
$open-font: 'Open Sans', sans-serif;
$roboto-font: 'Roboto', sans-serif;

//=========== FONT-WEIGHT ===========// 
$light-weight: 300;
$regular-weight: 400;
$semi_bold-weight: 600;
$bold-weight: 700;

//=========== Z-INDEX ===========//
$z-tooltip: 10;
$z-fixed: 100;

//=========== COLOR ===========//
$color_white:#FFFFFF;
$color_black:#000000;
$color_dark-green:#00897B;
$color_turquoise:#E4FDF9;
$color_grey:#F0F1F1;
$color_blue:#3949AB;
$color_another-black:#222321;

