.wrapper {
    max-width: 1600px;
    margin: 0 auto;
}

.arrow {
    display: none;
}

.display__block {
    display: block;
}

.container{
    max-width: 1390px;
    padding: 0 10px;
    margin: 0 auto;
    overflow-x: hidden;
}